* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* top */
#top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
#top h1{
    font-family: 'Archivo Black', sans-serif;    
    position: absolute;
    font-size: 180px;
    color: #252525;
    text-shadow:2px 2px 0 #FFF, -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF, 0px 2px 0 #FFF, 0 -2px 0 #FFF, -2px 0 0 #FFF, 2px 0 0 #FFF, -10px 10px 0 #777777, -20px 20px 0 #bdbdbd;
}
#top img {
    object-fit: cover;
}

/* about */
#about {
    margin-top: 30px;
    margin-bottom: 45px;
}
#about .b_box {
    display: block;
    background-color: #252525;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: -10px 10px #777777;
}
#about h2 {
    text-align: center;
    color: #FFF;
    font-size: 100px;
    display: flex;
    justify-content: center;
    font-family: 'Archivo Black', sans-serif;
}
#about .profile {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .profile .face {
    border-radius: 50%;
    margin-right: 70px;
}
#about .profile .box1 {
    margin-left: 70px;
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #252525;
    border-bottom: solid 2px #252525;
}
.box1:before,.box1:after{ 
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: calc(100% + 20px);
    background-color: #252525;
}
.box1:before{
    left: 10px;
}
.box1:after{
    right: 10px;
}
#about .profile p{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
}

/* works */
#works {
    background-color: #252525;
}
#works .w_box {
    display: block;
    background-color: #FFF;
    width: 500px;
    padding: 10px;
    margin: 50px auto;
    box-shadow: -10px 10px #bdbdbd;
    position: relative;
    top: 30px;
    align-items: center;
}
#works h2 {
    width: 100%;
    text-align: center;
    color: #252525;
    font-size: 100px;
    display: flex;
    justify-content: center;
    font-family: 'Archivo Black', sans-serif;
}
#works ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
}
#works  .w_box1{
    display: block;
    background-color: #FFF;
    padding: 2rem;
    margin: 2.8rem;
    border-radius: 5%;
    padding-top: 0;
}

#works ul .fp .pic {
    width: 55%;
    height: 55%;
    align-items: center;
}
#works ul .mv .pic {
    width: 55%;
    height: 55%;
    align-items: center;
}
#works .subtitle {
    font-size: 2.3rem;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 0.1rem;
}

#works a {
    display: block;
    width: 300px;
    padding: 20px 0;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    background-image: linear-gradient(
    to right,
    #777777 0%,
    #777777 50%,
    #252525 50%,
    #252525 100%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
    transition: background-position ease 0.4s;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    margin: auto;
}

#works a:hover {
  background-position: 0 0;
}

/* skill */
#skill {
    margin-top: 100px;
}
#skill h2 {
    text-align: center;
    color: #FFF;
    font-size: 100px;
    display: flex;
    justify-content: center;
    font-family: 'Archivo Black', sans-serif;
}
#skill .b_box {
    display: block;
    background-color: #252525;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: -10px 10px #777777;
    margin-bottom: 0px;
}
#skill ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#skill img {
    width: 70px;
    height: 70px;
}
#skill ul .html ,.css,.davinci,.ps {
    display: flex;
    align-items: center;
}
#skill ul p {
    color: #252525;
    font-size: 2rem;
    margin-left: 10px;
}
#skill .one {
    margin-top: 70px;
}
#skill .two {
    margin-top: 50px;
    margin-bottom: 100px;
}

/* footer */
footer {
    background-color: #252525;
}
footer ul svg {
    fill: #FFF !important;
    width: 60px;
    height: 60px;
    color: #FFF;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    transition: all 0.3s;
}
footer ul{
    list-style: none;
    display: flex;
    gap: 32px;
    justify-content: center;
}
footer .copyright {
    color: #FFF;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
}
/* menu */
.navbar {
    margin: auto;
  }
  .navbar ul {
    transform: rotate(-90deg);
    display: flex;
    position: fixed;
    right: -110px;
    list-style: none;
    top: 650px;
  }
  .navbar ul li {
    /* ナビゲーションメニュー同士の間隔を指定 */
    margin-left: 5%;
    margin-right: 5%;
  }
  .nav-item a {
    position: sticky;
    font-family: 'Archivo Black', sans-serif;
    color: #bdbdbd;
    font-size: 0.9rem;
    text-decoration: none;
    text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 0px 1px 0 #FFF, 0 -1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
    /* アニメーション速度を指定 */
    transition: 0.3s ease-out;
  }
  .nav-item a:hover {
    color: #777777;
  }

  @media only screen and (max-width: 480px){
    #top h1 {
        width: 100%;
        font-size: 50px;
        text-align: center;
        text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 0px 1px 0 #FFF, 0 -1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF, -5px 5px 0 #777777, -10px 10px 0 #bdbdbd;
    }
    #top {
        height: 610px;
        background-color: #FFF;
    }
    #top img {
        display: none;
        background-color: #FFF;
        object-fit: cover;
    }
    .navbar {
        display: none;
    }
    #about .profile {
        display: contents;
    }
    #about .profile .face {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #works {
        padding-bottom: 10px;
    }
    #works ul {
        display: contents;    
    }
    #about h2 {
        font-size: 50px;
    }
    #about .b_box {
        width: 400px;
    }
    #works h2 {
        font-size: 50px;
    }
    #works .w_box {
        width: 400px;
    }
    #skill h2 {
        font-size: 50px;
    }
    #skill .b_box {
        width: 400px;
    }
    #about .profile .face {
        width: 300px;
        height: 300px;
    }
    #about .profile p{
        font-size: 25px;
    }
    #works .w_box {
        margin: 60px auto;
    }
    #works ul .fp .pic {
        width: 40%;
        height: 40%;
    }
    #works ul .mv .pic {
        width: 40%;
        height: 40%;
        align-items: center;
    }
    #works .subtitle {
        font-size: 1.5rem;
    }
    #works a {
        font-size: 15px;
        width: 150px;
    }
    #works .icon {
        width: 40px;
        height: 40px;
    }
    #skill img {
        width: 50px;
        height: 50px;
    }
    #skill ul p {
        font-size: 1.5rem;
    }
  }